.google-sign-in {
    text-decoration: underline;
    cursor: pointer;
}

.sign-in {
    cursor: pointer;

}

.sign-in-box {
  border-radius: 30px; 
  background: gray;
  padding: 20px;
  width: 250px;
  height: 150px;
  margin: auto;
  width: 50%;
  position: relative;
  top: 250px;
}

.navbar {
    width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;
}

.navbar li {
    display: inline-block;
    text-decoration: underline;
}

.demo {
    cursor: pointer;
}

.landing {
    cursor: pointer;
}