html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }

.LandingPage-button {
      
      text-transform: uppercase;
      text-decoration: none;
      background: #5CB85C;
      padding: 15px 20px;
      border-radius: 0;
      display: inline-block;
      width: 100%;
      border-color: white;
      padding: 15px 20px;
      width: 100%;
      color: #fff
      
}

.LandingPage-button:hover{
    background-color:#4095c6;
    color: black;
    cursor: pointer;
    }

.LandingContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color: #1A1A1D;
}
.landing-page {
    width: 20%;
}
.intro-to-app {
    color: white;
    font-size: 1.5em;
    padding-bottom: 10px;
    border-bottom: 3px solid white;
}

.demo-user {
    color: white;
    border-bottom: 3px solid white;
    font-family: "Times New Roman", Times, serif;
    padding-bottom: 10px;

}

