.landing-page {
    border-radius: 30px; 
    background: gray;
    padding: 20px;
    width: 250px;
    height: 150px;
    margin: auto;
    width: 50%;
    position: relative;
    top: 250px;
}

.go-to-sign-in {
    cursor: pointer;
}

.landing {
    text-decoration: underline;
    cursor: pointer;
}
